#cloud-config
chpasswd:
  users:
  -   name: {{ libvirt_vm.users.root.name }}
      password: {{ libvirt_vm.users.root.password_hash }}
      type: hash
  expire: false

{% if cloudinit_packages is defined %}
package_update: true
packages:
{{ cloudinit_packages }}
{% endif %}

runcmd:
- echo "PermitRootLogin yes" >> /etc/ssh/sshd_config
- systemctl restart ssh
{% if suseconnect is defined %}
- echo /usr/bin/suseconnect -r {{ suseconnect.reg_code }} -e {{ suseconnect.email }} --url {{ suseconnect.url }}
- /usr/bin/suseconnect -r {{ suseconnect.reg_code }} -e {{ suseconnect.email }} --url {{ suseconnect.url }}
{% endif %}
{% if cloud_init_commands is defined %}
{{ cloud_init_commands }}
{% endif %}

ssh_pwauth: true
users:
-   name: {{ libvirt_vm.users.mgmt.name }}
    ssh_authorized_keys: {{ libvirt_vm.users.mgmt.ssh_keys | to_yaml }}
    passwd: {{ libvirt_vm.users.mgmt.password_hash }}
    lock_passwd: false
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    groups: sudo
    shell: /bin/bash
